<div class="row">
  <div class="col-md-12">
    <div class="panel panel-{{ options.titleClass || 'default' }}">
      <div class="panel-heading" ng-show="options.title">{{ options.title }}</div>
      <div class="list-group">     
        <span class="list-group-item" ng-hide="items.length">No items</span>
        <div class="list-group-item" ng-click="selected = !selected; item.selected = selected" ng-repeat="item in items" ng-class="{active: selected}"> 
          {{ item.value }} 
        </div>
      </div>
    </div>
  </div>
</div>