<!DOCTYPE html>

<nav class="navbar navbar-default" ng-controller="NavBarCtrl">
  <!-- Mobile View -->
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" 
        data-toggle="collapse" 
        data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
  <ul class="nav navbar-nav">
    <li ng-class="{active: navbar.main}"><a href="#/main">Home</a></li>
    <li ng-class="{active: navbar.lists}"><a href="#/lists">Lists</a></li>
  </ul>
  </div>
</nav>