<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Items</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items" ng-mouseenter="row = true;" ng-mouseleave="row = false">
          <td>{{ item.value }}</td>
          <td>
            <div class="pull-right">
            <button type="button" class="btn btn-xs btn-warning" ng-show="row" ng-click="edit(item)">
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="hidden-xs">Edit</span>
            </button>
            <button type="button" class="btn btn-xs btn-danger" ng-show="row" ng-click="delete(item)">
              <span class="glyphicon glyphicon-trash"></span>
              <span class="hidden-xs">Delete</span>
            </button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>